# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
.tox/
.mypy_cache/
.pytest_cache/

# IDEs and Editors
.vscode/
.idea/

# Data and Assets
data/
tiles/
crops/
asset/
boat_obb_v*/
*.tif
*.tif.aux.xml
*.npy
*.geojson
*.png

# Model Checkpoints and Weights
pretrained/
*.pt

# Results and Outputs
output/
runs/
results/
*.log

# Environment Variables
.env
.flaskenv

# External Repositories
KAIR/
swin2-mose/
